:root {
  --sidebar-width: 100px;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: var(--primary);

  .bodySection {
    min-width: calc(100vw - var(--sidebar-width));
    width: calc(100vw - var(--sidebar-width));
    min-height: 100vh;
    overflow-y: auto;
    background-color: var(--backgroundPure);
  }
}

@media only screen and (max-width: 1024px) {
  .App {
    flex-direction: column;
    .bodySection {
      min-width: 100vw;
      width: 100vw;
    }
  }
}
