.overviewWrapper {
  display: flex;
  flex-direction: column;

  padding: 20px;

  .titleSection {
    margin-bottom: 50px;
  }

  .chartSections {
    display: flex;
    flex-direction: row;
    .chartSection {
      margin: 20px;
      border-radius: 20px;
      border: 2px solid var(--primary);
      flex: 1;
      min-height: 250px;
      display: flex;
      padding: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .overviewWrapper {
    .chartSections {
      flex-direction: column;
      &>.chartSection {
        margin: 0px;
        margin-bottom: 20px;
      }
    }
  }
}
