.footerWrapper{
    height: 100px;
    border-top: 1px solid var(--primary);
    background-color: var(--backgroundPure);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}