.App {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .sidebarSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    width: 100px;
    background-color: var(--backgroundPure);
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);

    .box {
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: var(--background);
      }
    }

    .toggleDarkMode,
    .searchIcon {
      background-color: transparent;
      width: 25%;
    }

    .logoOptakt {
      background-color: black;
      width: 50%;
    }
  }


  .bodySection {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-width: calc(100vw - 100px);
    width: calc(100vw - 100px);
  }
}